@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');



.App {
  font-family: 'Fredoka One', cursive;

}

span{
font-family: 'Indie Flower', cursive; 
color :#384ce6;
font-weight: bolder;
font-size: 1.4em;

}
p {
  color :red;
  text-decoration: underline;
}

